<clr-datagrid>
    <clr-dg-column>Config name</clr-dg-column>
    <clr-dg-column>Config status</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Install method</clr-dg-column>
    <clr-dg-column>Nodes</clr-dg-column>
    
  
    <clr-dg-row *ngFor="let config of configs">
        <clr-dg-cell>{{config.configName}}</clr-dg-cell>
        <clr-dg-cell>{{config.configStatus}}</clr-dg-cell>
        <clr-dg-cell>{{config.date | date: 'medium'}}</clr-dg-cell>
        <clr-dg-cell>{{config.installMethod}}</clr-dg-cell>
        <clr-dg-cell>
            <clr-dg-row *ngFor="let node of config.nodes">
              <clr-dg-cell>{{node.host}}</clr-dg-cell>
              <clr-dg-cell>{{node.status}}</clr-dg-cell>
              <clr-dg-cell>{{node.message}}</clr-dg-cell>
            </clr-dg-row>
        </clr-dg-cell>
        
    </clr-dg-row>
  
  </clr-datagrid>